@keyframes diagonal-slide {
  0% {
    top: 0;
    right: 0;
    animation-direction: normal;
  }
  20% {
    top: calc(33.33% - 0.5em);
    left: calc(66.66% - 0.5em);
    animation-direction: reverse;
  }
  40% {
    top: calc(66.66% - 1em);
    left: calc(33.33% - 1em);
    animation-direction: normal;
  }
  60% {
    top: calc(33.33% - 0.5em);
    left: calc(0% - 0.5em);
    animation-direction: reverse;
  }
  80% {
    top: calc(66.66% - 1em);
    left: calc(33.33% - 1em);
    animation-direction: normal;
  }
  100% {
    top: 0;
    right: 0;
    animation-direction: reverse;
  }
}

.computer-screen-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.computer-screen {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.selected-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  animation: diagonal-slide 5s linear infinite;
  white-space: nowrap;
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
  .computer-screen img {
    width: 70%;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .computer-screen img {
    width: 100%;
  }
}
